HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/


backend-key

.env
#done
DB_HOST=activelearn-do-user-13495475-0.c.db.ondigitalocean.com
DB_PORT=25060
DB_NAME=online_banking_system
DB_USERNAME=doadmin
DB_PASSWORD=AVNS_IxFkfpQli_g504sAH4T