name: Static Code Analysis and Dependency Check Analysis

on:
  push:
    branches:
      - main

jobs:

  OWASP-Dependency-Check:
    name: OWASP Dependency Check
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '17'

      - name: Cache Maven Dependencies
        uses: actions/cache@v3
        with:
          path: ~/.m2/repository
          key: maven-${{ runner.os }}-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            maven-${{ runner.os }}-

      - name: Run OWASP Dependency Check
        run: |
          mvn -DskipTests dependency-check:check \
              -DnvdApiKey=${{ secrets.NVD_API_KEY_01 }}
          ls -la target/
          cat target/dependency-check-report.csv

      - name: Upload Dependency Check Reports
        uses: actions/upload-artifact@v3
        with:
          name: dependency-check-reports
          path: target/dependency-check-report.*

      - name: Upload to DefectDojo
        run: |
          chmod +x dependencycheck-defectdojoupload.sh
          ./dependencycheck-defectdojoupload.sh


  Build:
    name: Build + Test + SonarQube
    runs-on: ubuntu-latest
    needs: OWASP-Dependency-Check

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Cache Maven Dependencies
        uses: actions/cache@v3
        with:
          path: ~/.m2/repository
          key: maven-${{ runner.os }}-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            maven-${{ runner.os }}-

      - name: Maven Clean Verify
        run: mvn clean verify -DnvdApiKey=${{ secrets.NVD_API_KEY_01 }}

      - name: SonarQube Scan
        uses: sonarsource/sonarqube-scan-action@master
        with:
          projectBaseDir: .
          args: >
            -Dsonar.organization=cloud-solution-us
            -Dsonar.projectKey=bank-app-backend
            -Dsonar.java.binaries=target/classes
            -Dsonar.coverage.jacoco.xmlReportPaths=target/site/jacoco/jacoco.xml
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}
